<!DOCTYPE html>
<html lang="ja">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  {% endblock %}
</head>

<body>
  <h3>評定結果管理システム</h3>
  {% block loggedInUser %}
  LogIn: {{ loggedInUser["usname"] }}
  {% endblock %}
  <hr>
  {% block body %}
  {% endblock %}
  <hr>
  {% block footer %}
    <div class="button" style="display: flex;">
      <form action="/"><button>評定結果一覧</button></form>
      <form action="/cart/disp"><button>選択学生一覧</button></form>
      <form action="/input"><button>評定結果登録</button></form>
      <form action="/logout" method="post"><button>ログアウト</button></form>
      <form action="/download/all"><button>評定データをバックアップ</button></form>
      <form action="/"><button>評定結果一覧</button></form>
      <form action="/"><button>評定結果一覧</button></form>
    </div>
  {% endblock %}
</body>

</html>
