

{% extends 'base.html' %}
{% block title %}評定結果一覧{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  <h1>選択学生一覧</h1>
  <table border="1">
    <thead>
      <tr>
        <td>学籍番号</td><td>クラス記号</td><td>出席番号</td><td>学生名</td><td>IH22評価</td><td>PY24評価</td><td>IO21評価</td><td>認定状況</td>
      </tr>
    </thead>
    <tbody>
      {% for hyotei in hyoteis: %}
        <tr>
          <td>{{ hyotei["gno"] }}</td>
          <td>{{ hyotei["cls"] }}</td>
          <td>{{ hyotei["sno"] }}</td>
          <td>{{ hyotei["gname"] }}</td>
          <td>{{ hyotei["ih22"] }}</td>
          <td>{{ hyotei["py24"] }}</td>
          <td>{{hyotei["io21"]}}</td>
          <td>{{hyotei["result"]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="/cart/clear" method="post">
    <button>選択クリア</button>
  </form>
  <form action="/download/filterd" method="get">
    <input type="hidden" name="targets" value="{{ gnos }}">
    <button>選択学生をダウンロード</button>
  </form>
{% endblock %}
