<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>科目アンケート確認</h1>
  <table border="1">
    <tbody>
      {% for field in RECIEVE_FILEDS %}
        <tr>
          <th>{{ field.label }}</th>
          <td>{{ collected[field.name] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <table border="1">
      <tbody>
        <tr>
          <td>
            <form action="/" method="get">
              <input type="submit" value="修正">
            </form>
          </td>
          <td>
            <form action="/result" method="post">
              <input type="hidden" name="no" value="{{ collected["no"] }}">
              <input type="hidden" name="name" value="{{ collected["name"] }}">
              <input type="submit" value="登録する">
            </form>
          </td>
        </tr>
      </tbody>
    </table>
</body>
</html>