

{% extends 'base.html' %}
{% block title %}詳細情報{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block main %}
  <table>
    <tr>
      {% for (_, value) in VIEW_FILES.items(): %}
        <td>{{ value }}</td>
      {% endfor %}
    </tr>
    {% for record in records: %}
    <tr>
      {% for (key, value) in VIEW_FILES.items(): %}
        <td>{{ record[key] }} </td>
      {% endfor %}
      <td>
        <img src="/static/image/{{record.filename}}" alt="">
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
