<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width="device-width", initial-scale=1.0">
  <title>インデックス</title>
</head>
<body>
  <h1>ログイン画面</h1>
  <p>ログインしてください</p>
  <form action="/menu" method="GET">
    <table border="1">
      <tbody>
        {% for (key, field) in LOGIN_DATA_FIELD.items() %}
          <tr>
            <th>{{ field.label }}</th>
            <td><input type="{{ field.type }}" name="{{ key }}"></td>
            <td>{{ error[key] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" name="login" value="login">
  </form>
</body>
</html>