<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>顧客登録確認</title>
</head>
<body>
  <h1>顧客登録確認画面</h1>
  <p>以下の内容で登録します。よろしいですか？</p>
  <table border="1">
    <tbody>
      {% for (key, field) in INPUT_CUSTOMER_FIELD.items() %}
        <tr>
          <th>{{ field.label }}</th>
          <td>{{ new_customer[key] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <table border="1">
    <tbody>
      <tr>
        <td><form action="/inp" method="POST"><input type="submit" value="修正"></form></td>
        <td><form action="/inpres" method="POST"><input type="submit" value="登録"></form></td>
      </tr>
    </tbody>
  </table>
</body>
</html>