<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>顧客入力画面</title>
</head>
<body>
  <h1>顧客登録画面</h1>
  ログインユーザー：{{ user }}
  <form action="/inpchk" method="POST">
    <table border="1">
      <tbody>
        {% for (key, field) in INPUT_CUSTOMER_FIELD.items() %}
          <tr>
            <th>{{ field.label }}</th>
            <td><input type="{{ field.type }}" name="{{ key }}" value="{{ lastdata[key] }}"></td>
            <td>{{ error[key] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" name="register" value="登録">
  </form>
</body>
</html>