{% extends 'base.html' %}
{% block title %}完了変更{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}

<table border="1">
  <tr>
    <th>学籍番号</th>
    <td>{{ hyotei["gno"] }}</td>
  </tr>
  <tr>
    <th>クラス記号</th>
    <td>{{ hyotei["cls"] }}</td>
  </tr>
  <tr>
    <th>出席番号</th>
    <td>{{ hyotei["sno"] }}</td>
  </tr>
  <tr>
    <th>学生名</th>
    <td>{{ hyotei["gname"] }}</td>
  </tr>
  <tr>
    <th>IH22</th>
    <td>{{ hyotei["ih22"] }}</td>
  </tr>
  <tr>
    <th>py24</th>
    <td>{{ hyotei["py24"] }}</td>
  </tr>
  <tr>
    <th>io21</th>
    <td>{{ hyotei["io21"] }}</td>
  </tr>
  <tr>
    <th>認定状況</th>
    <td>{{ hyotei["result"] }}</td>
  </tr>
</table>
{% endblock %}
